
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COVID-19 Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
       #one{
         background-image:url(https://www.genengnews.com/wp-content/uploads/2020/02/Feb27_2020_CDC_Coronavirus.jpg);
         background-repeat: no-repeat;
         background-size:100% 200%;
         border-radius:0;
       }
    </style>

  </head>

  <body style="outline:none">
    <!-- <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a href="/" class="navbar-brand"></a>
    </nav> -->
    <div class="jumbotron" id="one">
        <h1 class="text-center" style="font-size:5rem;color:#00000">COVID-19 TRACKER</h1>
        <!-- <i class="fa fa-virus" style="color:red"></i> -->
        <!-- <p class="text-right" style="margin: 30px auto 30px auto">
          Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
          Coronavirus is originated from a city called Wuhan loacted in China!
       </p> -->
